Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/payment-service/main.tf
  infrastructure/terraform/modules/payment-service/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/payment-service/outputs.tf
  infrastructure/terraform/modules/payment-service/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/payment-service/variables.tf
  infrastructure/terraform/modules/payment-service/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/tracking-service/main.tf
  infrastructure/terraform/modules/tracking-service/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/tracking-service/outputs.tf
  infrastructure/terraform/modules/tracking-service/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/tracking-service/variables.tf
  infrastructure/terraform/modules/tracking-service/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/android/.gitignore
  src/android/.gitignore
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/README.md
  src/android/README.md
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/build.gradle.kts
  src/android/build.gradle.kts
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/gradle.properties
  src/android/gradle.properties
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/gradlew
  src/android/gradlew
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/settings.gradle.kts
  src/android/settings.gradle.kts
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/androidTest/java/com/dogwalking/app/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/java/com/dogwalking/app/ExampleInstrumentedTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/debug/AndroidManifest.xml
  src/android/app/src/debug/AndroidManifest.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/DogWalkingApplication.kt
  src/android/app/src/main/java/com/dogwalking/app/DogWalkingApplication.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/api/ApiClient.kt
  src/android/app/src/main/java/com/dogwalking/app/data/api/ApiClient.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/api/ApiService.kt
  src/android/app/src/main/java/com/dogwalking/app/data/api/ApiService.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/api/interceptors/AuthInterceptor.kt
  src/android/app/src/main/java/com/dogwalking/app/data/api/interceptors/AuthInterceptor.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/api/models/ApiResponse.kt
  src/android/app/src/main/java/com/dogwalking/app/data/api/models/ApiResponse.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/AppDatabase.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/AppDatabase.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/dao/DogDao.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/dao/DogDao.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/dao/UserDao.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/dao/UserDao.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/dao/WalkDao.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/dao/WalkDao.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/entities/DogEntity.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/entities/DogEntity.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/entities/UserEntity.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/entities/UserEntity.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/database/entities/WalkEntity.kt
  src/android/app/src/main/java/com/dogwalking/app/data/database/entities/WalkEntity.kt
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/repository/AuthRepository.kt
  src/android/app/src/main/java/com/dogwalking/app/data/repository/AuthRepository.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/repository/DogRepository.kt
  src/android/app/src/main/java/com/dogwalking/app/data/repository/DogRepository.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/java/com/dogwalking/app/data/repository/LocationRepository.kt
  src/android/app/src/main/java/com/dogwalking/app/data/repository/LocationRepository.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security
