Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/prometheus/alerts.yml
  infrastructure/monitoring/prometheus/alerts.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/prometheus/rules.yml
  infrastructure/monitoring/prometheus/rules.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/deploy-services.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/init-database.sh
  infrastructure/scripts/init-database.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/api-gateway/main.tf
  infrastructure/terraform/modules/api-gateway/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/api-gateway/outputs.tf
  infrastructure/terraform/modules/api-gateway/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/api-gateway/variables.tf
  infrastructure/terraform/modules/api-gateway/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/auth-service/main.tf
  infrastructure/terraform/modules/auth-service/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/auth-service/outputs.tf
  infrastructure/terraform/modules/auth-service/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/auth-service/variables.tf
  infrastructure/terraform/modules/auth-service/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/booking-service/main.tf
  infrastructure/terraform/modules/booking-service/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/booking-service/outputs.tf
  infrastructure/terraform/modules/booking-service/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/booking-service/variables.tf
  infrastructure/terraform/modules/booking-service/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @dog-walking/dba-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/notification-service/main.tf
  infrastructure/terraform/modules/notification-service/main.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/notification-service/outputs.tf
  infrastructure/terraform/modules/notification-service/outputs.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/terraform/modules/notification-service/variables.tf
  infrastructure/terraform/modules/notification-service/variables.tf
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team
