Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

Add public-samples/test-83-kl4t8w/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @dog-walking/maintainers

Add public-samples/test-83-kl4t8w/infrastructure/docker/api-gateway.dockerfile
  infrastructure/docker/api-gateway.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/auth-service.dockerfile
  infrastructure/docker/auth-service.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/booking-service.dockerfile
  infrastructure/docker/booking-service.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/monitoring.dockerfile
  infrastructure/docker/monitoring.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/notification-service.dockerfile
  infrastructure/docker/notification-service.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/payment-service.dockerfile
  infrastructure/docker/payment-service.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/docker/tracking-service.dockerfile
  infrastructure/docker/tracking-service.dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/README.md
  infrastructure/kubernetes/README.md
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/api-gateway.yaml
  infrastructure/kubernetes/api-gateway.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/auth-service.yaml
  infrastructure/kubernetes/auth-service.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/booking-service.yaml
  infrastructure/kubernetes/booking-service.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/configmaps.yaml
  infrastructure/kubernetes/configmaps.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/database.yaml
  infrastructure/kubernetes/database.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/monitoring.yaml
  infrastructure/kubernetes/monitoring.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/namespaces.yaml
  infrastructure/kubernetes/namespaces.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/notification-service.yaml
  infrastructure/kubernetes/notification-service.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/payment-service.yaml
  infrastructure/kubernetes/payment-service.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/service-mesh.yaml
  infrastructure/kubernetes/service-mesh.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/storage.yaml
  infrastructure/kubernetes/storage.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/kubernetes/tracking-service.yaml
  infrastructure/kubernetes/tracking-service.yaml
Owners: @dog-walking/devops-team, @dog-walking/security-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/elk/logstash.yml
  infrastructure/monitoring/elk/logstash.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team
