Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/Dockerfile
  src/backend/tracking-service/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/go.mod
  src/backend/tracking-service/go.mod
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/go.sum
  src/backend/tracking-service/go.sum
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/cmd/server/main.go
  src/backend/tracking-service/cmd/server/main.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/config/config.go
  src/backend/tracking-service/internal/config/config.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/handlers/location.go
  src/backend/tracking-service/internal/handlers/location.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/handlers/websocket.go
  src/backend/tracking-service/internal/handlers/websocket.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/models/location.go
  src/backend/tracking-service/internal/models/location.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/models/tracking.go
  src/backend/tracking-service/internal/models/tracking.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/repository/timescale.go
  src/backend/tracking-service/internal/repository/timescale.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/services/geofence.go
  src/backend/tracking-service/internal/services/geofence.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/services/tracking.go
  src/backend/tracking-service/internal/services/tracking.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/utils/distance.go
  src/backend/tracking-service/internal/utils/distance.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/backend/tracking-service/internal/utils/mqtt.go
  src/backend/tracking-service/internal/utils/mqtt.go
Owners: @dog-walking/backend-team, @dog-walking/privacy-team

Add public-samples/test-83-kl4t8w/src/ios/.gitignore
  src/ios/.gitignore
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/Podfile
  src/ios/Podfile
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/README.md
  src/ios/README.md
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking.xcodeproj/project.pbxproj
  src/ios/DogWalking.xcodeproj/project.pbxproj
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking.xcodeproj/xcshareddata/xcschemes/DogWalking.xcscheme
  src/ios/DogWalking.xcodeproj/xcshareddata/xcschemes/DogWalking.xcscheme
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/AppDelegate.swift
  src/ios/DogWalking/AppDelegate.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Info.plist
  src/ios/DogWalking/Info.plist
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/SceneDelegate.swift
  src/ios/DogWalking/SceneDelegate.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Base/BaseCollectionViewCell.swift
  src/ios/DogWalking/Core/Base/BaseCollectionViewCell.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Base/BaseCoordinator.swift
  src/ios/DogWalking/Core/Base/BaseCoordinator.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Base/BaseTableViewCell.swift
  src/ios/DogWalking/Core/Base/BaseTableViewCell.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Base/BaseViewController.swift
  src/ios/DogWalking/Core/Base/BaseViewController.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Base/BaseViewModel.swift
  src/ios/DogWalking/Core/Base/BaseViewModel.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Constants/APIConstants.swift
  src/ios/DogWalking/Core/Constants/APIConstants.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Constants/AppConstants.swift
  src/ios/DogWalking/Core/Constants/AppConstants.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Extensions/CLLocation+Extensions.swift
  src/ios/DogWalking/Core/Extensions/CLLocation+Extensions.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Extensions/Date+Extensions.swift
  src/ios/DogWalking/Core/Extensions/Date+Extensions.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Extensions/String+Extensions.swift
  src/ios/DogWalking/Core/Extensions/String+Extensions.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Extensions/UIColor+Extensions.swift
  src/ios/DogWalking/Core/Extensions/UIColor+Extensions.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Extensions/UIView+Extensions.swift
  src/ios/DogWalking/Core/Extensions/UIView+Extensions.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Protocols/Coordinator.swift
  src/ios/DogWalking/Core/Protocols/Coordinator.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Protocols/StoryboardInstantiable.swift
  src/ios/DogWalking/Core/Protocols/StoryboardInstantiable.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Protocols/ViewModelType.swift
  src/ios/DogWalking/Core/Protocols/ViewModelType.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Utilities/BiometricAuthManager.swift
  src/ios/DogWalking/Core/Utilities/BiometricAuthManager.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/ios/DogWalking/Core/Utilities/KeychainManager.swift
  src/ios/DogWalking/Core/Utilities/KeychainManager.swift
Owners: @dog-walking/ios-team, @dog-walking/mobile-security
