Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/server.ts
  src/backend/api-gateway/src/server.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/config/app.config.ts
  src/backend/api-gateway/src/config/app.config.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/config/cors.config.ts
  src/backend/api-gateway/src/config/cors.config.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/config/rate-limit.config.ts
  src/backend/api-gateway/src/config/rate-limit.config.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/middleware/validation.middleware.ts
  src/backend/api-gateway/src/middleware/validation.middleware.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/auth.routes.ts
  src/backend/api-gateway/src/routes/auth.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/dogs.routes.ts
  src/backend/api-gateway/src/routes/dogs.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/payments.routes.ts
  src/backend/api-gateway/src/routes/payments.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/tracking.routes.ts
  src/backend/api-gateway/src/routes/tracking.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/users.routes.ts
  src/backend/api-gateway/src/routes/users.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/routes/walks.routes.ts
  src/backend/api-gateway/src/routes/walks.routes.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/src/types/index.ts
  src/backend/api-gateway/src/types/index.ts
Owners: @dog-walking/backend-team, @dog-walking/api-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/server.ts
  src/backend/auth-service/src/server.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/config/database.config.ts
  src/backend/auth-service/src/config/database.config.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/services/jwt.service.ts
  src/backend/auth-service/src/services/jwt.service.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/services/mfa.service.ts
  src/backend/auth-service/src/services/mfa.service.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/utils/encryption.util.ts
  src/backend/auth-service/src/utils/encryption.util.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/auth-service/src/utils/validation.util.ts
  src/backend/auth-service/src/utils/validation.util.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/Dockerfile
  src/backend/booking-service/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/pom.xml
  src/backend/booking-service/pom.xml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/BookingApplication.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/BookingApplication.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/config/DatabaseConfig.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/config/DatabaseConfig.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/config/KafkaConfig.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/config/KafkaConfig.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/controllers/BookingController.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/controllers/BookingController.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/models/Booking.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/models/Booking.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/repositories/BookingRepository.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/repositories/BookingRepository.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/services/BookingService.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/services/BookingService.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/java/com/dogwalking/booking/services/PricingService.java
  src/backend/booking-service/src/main/java/com/dogwalking/booking/services/PricingService.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team
