Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/main/resources/application.yml
  src/backend/booking-service/src/main/resources/application.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/booking-service/src/test/java/com/dogwalking/booking/BookingServiceTests.java
  src/backend/booking-service/src/test/java/com/dogwalking/booking/BookingServiceTests.java
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/api-gateway-deployment.yml
  src/backend/common/k8s/api-gateway-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/auth-service-deployment.yml
  src/backend/common/k8s/auth-service-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/booking-service-deployment.yml
  src/backend/common/k8s/booking-service-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/configmap.yml
  src/backend/common/k8s/configmap.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/ingress.yml
  src/backend/common/k8s/ingress.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/notification-service-deployment.yml
  src/backend/common/k8s/notification-service-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/payment-service-deployment.yml
  src/backend/common/k8s/payment-service-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/secrets.yml
  src/backend/common/k8s/secrets.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/k8s/tracking-service-deployment.yml
  src/backend/common/k8s/tracking-service-deployment.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/monitoring/grafana/dashboards/api-gateway.json
  src/backend/common/monitoring/grafana/dashboards/api-gateway.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/common/monitoring/grafana/dashboards/services.json
  src/backend/common/monitoring/grafana/dashboards/services.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/common/monitoring/grafana/dashboards/system.json
  src/backend/common/monitoring/grafana/dashboards/system.json
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/common/monitoring/jaeger/jaeger.yml
  src/backend/common/monitoring/jaeger/jaeger.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/common/monitoring/prometheus/prometheus.yml
  src/backend/common/monitoring/prometheus/prometheus.yml
Owners: @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/common/scripts/deploy.sh
  src/backend/common/scripts/deploy.sh
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/scripts/init-db.sh
  src/backend/common/scripts/init-db.sh
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/scripts/monitoring-setup.sh
  src/backend/common/scripts/monitoring-setup.sh
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/common/scripts/service-health-check.sh
  src/backend/common/scripts/service-health-check.sh
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/Dockerfile
  src/backend/notification-service/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/requirements.txt
  src/backend/notification-service/requirements.txt
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/app.py
  src/backend/notification-service/src/app.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/config/config.py
  src/backend/notification-service/src/config/config.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/handlers/email_handler.py
  src/backend/notification-service/src/handlers/email_handler.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/handlers/push_handler.py
  src/backend/notification-service/src/handlers/push_handler.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/handlers/sms_handler.py
  src/backend/notification-service/src/handlers/sms_handler.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/models/notification.py
  src/backend/notification-service/src/models/notification.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/services/notification_service.py
  src/backend/notification-service/src/services/notification_service.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/notification-service/src/utils/templates.py
  src/backend/notification-service/src/utils/templates.py
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/Dockerfile
  src/backend/payment-service/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/package.json
  src/backend/payment-service/package.json
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/tsconfig.json
  src/backend/payment-service/tsconfig.json
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/server.ts
  src/backend/payment-service/src/server.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/config/payment.config.ts
  src/backend/payment-service/src/config/payment.config.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/controllers/payment.controller.ts
  src/backend/payment-service/src/controllers/payment.controller.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/models/payment.model.ts
  src/backend/payment-service/src/models/payment.model.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/services/payment.service.ts
  src/backend/payment-service/src/services/payment.service.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/services/stripe.service.ts
  src/backend/payment-service/src/services/stripe.service.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

Add public-samples/test-83-kl4t8w/src/backend/payment-service/src/utils/currency.util.ts
  src/backend/payment-service/src/utils/currency.util.ts
Owners: @dog-walking/backend-team, @dog-walking/security-team, @dog-walking/compliance-team

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team
