Repository savdsouza/test-83-kl4t8w, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dog-walking/maintainers, @dog-walking/android-team, @dog-walking/mobile-security, @dog-walking/ios-team, @dog-walking/backend-team, @dog-walking/architecture-team, @dog-walking/api-team, @dog-walking/security-team, @dog-walking/compliance-team, @dog-walking/privacy-team, @dog-walking/web-team, @dog-walking/devops-team, @dog-walking/sre-team, @dog-walking/qa-team, @dog-walking/dba-team, @dog-walking/tech-writers

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_login.xml
  src/android/app/src/main/res/layout/fragment_login.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_payment_history.xml
  src/android/app/src/main/res/layout/fragment_payment_history.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_profile.xml
  src/android/app/src/main/res/layout/fragment_profile.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_register.xml
  src/android/app/src/main/res/layout/fragment_register.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_walk_history.xml
  src/android/app/src/main/res/layout/fragment_walk_history.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_walk_review.xml
  src/android/app/src/main/res/layout/fragment_walk_review.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_walker_list.xml
  src/android/app/src/main/res/layout/fragment_walker_list.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/fragment_walker_profile.xml
  src/android/app/src/main/res/layout/fragment_walker_profile.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/item_dog.xml
  src/android/app/src/main/res/layout/item_dog.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/item_payment.xml
  src/android/app/src/main/res/layout/item_payment.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/item_walk.xml
  src/android/app/src/main/res/layout/item_walk.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/layout/item_walker.xml
  src/android/app/src/main/res/layout/item_walker.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/menu/menu_bottom_nav.xml
  src/android/app/src/main/res/menu/menu_bottom_nav.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/menu/menu_main.xml
  src/android/app/src/main/res/menu/menu_main.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/navigation/nav_graph.xml
  src/android/app/src/main/res/navigation/nav_graph.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/navigation/nav_graph_auth.xml
  src/android/app/src/main/res/navigation/nav_graph_auth.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values/dimens.xml
  src/android/app/src/main/res/values/dimens.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/release/AndroidManifest.xml
  src/android/app/src/release/AndroidManifest.xml
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/test/java/com/dogwalking/app/ExampleUnitTest.kt
  src/android/app/src/test/java/com/dogwalking/app/ExampleUnitTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/test/java/com/dogwalking/app/viewmodel/AuthViewModelTest.kt
  src/android/app/src/test/java/com/dogwalking/app/viewmodel/AuthViewModelTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/test/java/com/dogwalking/app/viewmodel/DogViewModelTest.kt
  src/android/app/src/test/java/com/dogwalking/app/viewmodel/DogViewModelTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/test/java/com/dogwalking/app/viewmodel/PaymentViewModelTest.kt
  src/android/app/src/test/java/com/dogwalking/app/viewmodel/PaymentViewModelTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/app/src/test/java/com/dogwalking/app/viewmodel/WalkViewModelTest.kt
  src/android/app/src/test/java/com/dogwalking/app/viewmodel/WalkViewModelTest.kt
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @dog-walking/android-team, @dog-walking/mobile-security

Add public-samples/test-83-kl4t8w/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/.env.example
  src/backend/.env.example
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/.gitignore
  src/backend/.gitignore
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/README.md
  src/backend/README.md
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/docker-compose.prod.yml
  src/backend/docker-compose.prod.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/package.json
  src/backend/package.json
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @dog-walking/backend-team, @dog-walking/architecture-team

Add public-samples/test-83-kl4t8w/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @dog-walking/devops-team, @dog-walking/security-team

.github/CODEOWNERS:

# Default owners for unspecified files with global oversight
* @dog-walking/maintainers

# Android mobile application ownership with security team oversight
src/android/** @dog-walking/android-team @dog-walking/mobile-security

# iOS mobile application ownership with security team oversight
src/ios/** @dog-walking/ios-team @dog-walking/mobile-security

# Backend services ownership with architecture team oversight
src/backend/** @dog-walking/backend-team @dog-walking/architecture-team

# API Gateway service ownership with mandatory security review
src/backend/api-gateway/** @dog-walking/backend-team @dog-walking/api-team @dog-walking/security-team

# Authentication service ownership with security and compliance review
src/backend/auth-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Payment service ownership with security and compliance review
src/backend/payment-service/** @dog-walking/backend-team @dog-walking/security-team @dog-walking/compliance-team

# Location tracking service ownership with privacy team review
src/backend/tracking-service/** @dog-walking/backend-team @dog-walking/privacy-team

# Web application ownership with security review
src/web/** @dog-walking/web-team @dog-walking/security-team

# CI/CD workflow ownership with security validation
.github/workflows/** @dog-walking/devops-team @dog-walking/security-team

# Infrastructure configuration ownership with security and architecture review
infrastructure/** @dog-walking/devops-team @dog-walking/security-team @dog-walking/architecture-team

# Docker configuration ownership with security review
**/Dockerfile @dog-walking/devops-team @dog-walking/security-team

# Security configuration ownership with compliance review
**/security/** @dog-walking/security-team @dog-walking/compliance-team

# Monitoring configuration ownership with SRE and security review
**/monitoring/** @dog-walking/devops-team @dog-walking/sre-team @dog-walking/security-team

# Test suite ownership with security validation
**/tests/** @dog-walking/qa-team @dog-walking/security-team

# Database configuration ownership with security review
**/database/** @dog-walking/dba-team @dog-walking/security-team

# Technical documentation ownership with architecture review
**/docs/** @dog-walking/tech-writers @dog-walking/architecture-team
